@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import"../node_modules/slick-carousel/slick/slick.scss";
@import"../js/custome.js";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header {
	
	height: 120px;position: relative;
	z-index: 9999999999;
	width: 100%;

	@media screen and (max-width:767px) {
		img{max-width:200px;}
		padding:20px 0;
	}
	@media screen and (max-width:375px) {
		text-align:center;
		
	}
}
.timlogo {
	width: 200px;
	display: block;
	margin: 0 auto;
	padding-top: 15px;
}
.head {
	position: absolute;
	top: 35px;
	right: 50px;
	@media screen and (max-width:767px) {
		top:22px;
		
	}
	@media screen and (max-width:375px) {
	top: 78px;
left: 50%;
transform: translate(-50%);
}
	.tile {
		display: inline-block;
		height: 50px;
		width: 50px;
		margin-left: 5px;
		transition: all .3s ease-in;
		-webkit-transition: all .3s ease-in;
	}
	.tile.socialmedia {
		color:
#0b253e;
font-size: 20px;
text-align: center;
line-height: 50px;
position: relative;
top: -20px;
	}
	.burger {
		margin-left: 0px;
		padding: 5px;
		cursor: pointer;
		background-color: transparent;
	}
}
header.clicked {
	.head {
		.tile.socialmedia {
			color: white;
		}
		.burger {
			.meat {
				transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
			}
		}
	}
	.burger {
		.line {
			background-color: white;
		}
		.line.one {
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			top: 18px;
		}
		.line.two {
			transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			top: 18px;
		}
		.line.three {
			opacity: 0;
		}
		&:hover {
			.meat {
				transform: rotate(270deg);
				-webkit-transform: rotate(270deg);
			}
		}
	}
	.nav-modal {
		visibility: visible;
		opacity: 1;
		pointer-events: initial;
		.blob {
			width: 100vw;
			height: 100vh;
			border-radius: 0px;
		}
	}
	nav {
		opacity: 1;
	}
}
.meat {
	height: 40px;
	width: 40px;
	position: relative;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	.line {
		height: 4px;
		width: 40px;
		background-color: #0b253e;
		
		position: absolute;
		transition: all .3s ease-in;
		-webkit-transition: all .3s ease-in;
	}
	.line.one {
		top: 5px;
		left: 0px;
	}
	.line.two {
		top: 18px;
		left: 0px;
	}
	.line.three {
		top: 31px;
		left: 0px;
	}
}
.nav-modal {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	pointer-events: none;
	.blob {
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 100%;
		margin: 0 auto;
		background-color: #0b253e;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transition: all .3s ease-in;
	}
}
nav {
	position: fixed;
	left: 20%;
	top: 30%;
	color: white;
	opacity: 0;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s;
	a {
		color: white;
		text-decoration: none;
		font-family: sans-serif;
		font-family: 'Oswald', sans-serif;
		font-size: 30px;
	}
	ul {
		li {
			list-style: none;
			text-align: right;
			border-right: 6px solid white;
			padding-bottom: 10px;
			padding-right: 10px;
			position: relative;
			ul {
				position: absolute;
				right: -300px;
				top: -4px;
				display: none;
				li {
					border: none;
					padding-bottom: 10;
					padding-left: 10px;
					height: 50px;
					width: 300px;
					a {
						display: block;
						height: 50px;
						font-size: 20px;
						text-align: left;
						padding: 10px;
					}
				}
			}
		}
		li.selected {
			ul {
				display: block;
				li {
					a {
						opacity: 1;
					}
				}
			}
		}
		li.notselected {
			a {
				opacity: .5;
			}
		}
	}
}

/*******banner**************/
.banner {
	background-image: url("../images/banner.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	min-height: 700px;text-align:center;margin-top: -126px;
	@media screen and (max-width:767px) {
		background-position:top;
		min-height:500px;
		
	}
	h1 {
		max-width: 60%;
		margin:30% auto 0;
		@media screen and (max-width:991px) {
			margin:30% auto 0;
			max-width: 100%;font-size:30px;
			
		}
		@media screen and (max-width:375px) {
			margin:50% auto 0;
			
			
		}
	}
	
	button {
	
		background: transparent;
		border: 0;
		margin-bottom: 20px;
		padding: 0;
			a {
				display: block;
				background: #4ab7c3;
				padding: 17px 35px;
				color: white;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 17.1px;
				line-height: 18.1px;
				font-weight: 600;
				border-radius: 2px;
				&:hover{background:#338197;}
			}
		}
}
@media screen and (max-width:820px) {
	.timlogo {
		margin-left: 50px;
	}
}
@media screen and (max-width:580px) {
	.timlogo {
		width: 130px;
		padding-top: 30px;
	}
	nav {
		ul {
			li {
				a {
					font-size: 16px;
				}
				ul {
					top: -9px;
					li {
						height: 40px;
						a {
							font-size: 16px;
							height: 40px;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width:500px) {
	.timlogo {
		display: none;
	}
}
@media screen and (max-width:320px) {
	header {
		.head {
			.tile.socialmedia {
				display: none;
			}
		}
	}
}
/********naturally************/

#Naturally-occuring {
	width: 100%;
	display: block;
	overflow: hidden;
	button {
	
	background: transparent;
	border: 0;
	margin-bottom: 20px;
	padding: 0;
		a {
			display: block;
			background: #338197;
			padding: 17px 35px;
			color: white;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 17.1px;
			line-height: 18.1px;
			font-weight: 600;
			border-radius: 2px;
		}
	}

.img1 {
	background-image: url(../images/Naturally-img-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 350px;
	height: 100%;
	padding: 0px 30px;background-position: right;
	@media screen and (max-width:991px) {
		flex: 100%;
		max-width: 100%;
		margin-bottom: 30px
	}
	img {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	h2 {
		font-size:25px;
		line-height: 45px;
		color: white;
		font-weight: normal;
		margin-bottom: 0px;
		padding-bottom: 20px;
		@media screen and (max-width:1199px) {
			font-size:20px;
		}
		@media screen and (max-width:320px) {
			font-size: 17px;
			line-height: 19px;
			}
	}
	p {
		font-size: 15px;
		font-weight: 400;
		color: white;
		margin-bottom: 0px;
		padding-bottom: 20px;
		line-height: 22px;
	}
}

.img2 {
	background-image: url(../images/Naturally-img-2.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 350px;
	height: 100%;
	padding: 0px 30px;background-position: right;
	@media screen and (max-width:991px) {
		flex: 100%;
		max-width: 100%;
		margin-bottom: 30px
	}
	img {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	h2 {
		font-size: 25px;
		line-height: 45px;
		color: white;
		font-weight: normal;
		margin-bottom: 0px;
		padding-bottom: 20px;
		@media screen and (max-width:1199px) {
			font-size:20px;
		}
		@media screen and (max-width:320px) {
			font-size: 17px;
			line-height: 19px;
			}
	}
	p {
		font-size: 15px;
		font-weight: 400;
		color: white;
		margin-bottom: 0px;
		padding-bottom: 20px;
		line-height: 22px;
	}
}
.btn-active {
	background: #4ab7c3 !important;
}
.img3 {
	background-image: url(../images/Naturally-img-3.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 350px;
	height: 100%;
	padding: 0px 30px;background-position: right;
	@media screen and (max-width:991px) {
		flex: 100%;
		max-width: 100%;
		margin-bottom: 30px
	}
	img {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	h2 {
		font-size:25px;
		line-height: 45px;
		color: white;
		font-weight: normal;
		margin-bottom: 0px;
		padding-bottom: 20px;
		@media screen and (max-width:1199px) {
			font-size:20px;
		}
		@media screen and (max-width:320px) {
		font-size: 17px;
		line-height: 19px;
		}
	}
	p {
		font-size: 15px;
		font-weight: 400;
		color: white;
		margin-bottom: 0px;
		padding-bottom: 20px;
		line-height: 22px;
	}
}

}
/***********mobility*********/
#Mobility {
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 30px 0px 50px;
	background: #f9f9f9;
}
.Mobility-heading {
	width: 100%;
	display: block;
	overflow: hidden;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 20px;
	h1 {
		font-size: 40px;
		font-weight: normal;
		padding-bottom: 10px;
		position: relative;
		padding-bottom: 30px;color:#231f20;
		@media screen and (max-width:1199px) {
			font-size:30px;
		}
	}
}
.Mobility-heading {
	
	h1 {
		&::after {
			position: absolute;
			content: "";
			width: 108px;
			height: 4px;
			background-image: url(../images/after-shape.png);
			background-repeat: no-repeat;
			background-size: cover;
			left: 0px;
			bottom: 0px;
			right: 0px;
			margin: 0 auto;
		}
	}
}
.Mobility-border-heading {
	border: 2px solid #4ab7c3;
	padding-top: 10px;
	padding: 10px;
	img {
		display: block;
		margin-bottom: -25px;
		width: 100%;
	}
}
.Mobility-img-heading {
	display: block;
	overflow: hidden;
	padding-top: 30px;
	h5 {
		color: #231f20;
		font-size: 22px;
		font-weight: 400;
		line-height: 24px;
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 0px;
		padding-bottom: 10px;
	}
	button {
	
		background: transparent;
		border: 0;
		margin-bottom: 20px;
		padding: 0;
			a {
				display: block;
				background: #4ab7c3;
				padding: 17px 35px;
				color: white;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 17.1px;
				line-height: 18.1px;
				font-weight: 600;
				border-radius: 2px;
				&:hover{background:#338197;}
			}
		}
	p {
		color: #666666;
		font-size: 16px;
		font-weight: normal;
		padding-bottom: 10px;
		margin-bottom: 0px;
	}
}
/***********control*********/
#back-control {
	width: 100%;
	display: block;
	overflow: hidden;
	background: #f6fcfc;
	padding: 50px 0px 0px;
}
.control-heading {
	button {
	
		background: transparent;
		border: 0;
		margin-bottom: 0px;
		padding: 0;
			a {
				display: block;
				background: #4ab7c3;
				padding: 17px 35px;
				color: white;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 17.1px;
				line-height: 18.1px;
				font-weight: 600;
				border-radius: 2px;
				&:hover{background:#338197;}
			}
		}
	span {
		font-size: 32px;
		line-height: 45.6px;
		font-weight: normal;
		@media screen and (max-width:991px) {
			font-size:25px;
		}
	}
	h1 {
		
		line-height: 60px;
		text-transform: uppercase;
		padding-bottom: 30px;
		position: relative;color:#231f20;font-size: 40px;
		@media screen and (max-width:1199px) {
			font-size:30px;
		}
		@media screen and (max-width:991px) {
			font-size:20px;line-height: 38px;
		}
		&::after {
			position: absolute;
			content: "";
			width: 108px;
			height: 4px;
			background-image: url(../images/after-shape.png);
			background-repeat: no-repeat;
			background-size: cover;
			left: 0px;
			bottom: 0px;
		}
	}
	p {
		color: #666666;
		font-size: 18px;
		font-weight: normal;
		padding-top: 30px;
	}
}
.small-paragraph {
	padding-top: 0px !important;
	padding-bottom: 30px;
}
.paragraph-text {
	padding-left: 15px;
	li {
		a {
			color: #666666;
			font-size: 18px;
			font-weight: normal;
			text-decoration: none;
		}
		padding: 10px 0px;
		list-style: url(../images/list-style-dot.png);

	}
}
.control-img-heading {
	img {
		min-height: 800px;
		width: 100%;
		height: 100%;object-fit: cover;
		@media screen and (max-width:991px) {
			min-height:100%;
		}
	}
}
/************footer************/
footer {
	width: 100%;
	display: block;
	overflow: hidden;
	background: #338197;
	padding: 70px 0px;
	.col-md-3.sitmap {
		padding-left: 50px;
		@media screen and (max-width:767px) {
			padding-left:15px;
			
		}
	}
	ul {
		li {
			a {
				&:hover {
					color: #4ab7c3;
				}
			}
		}
	}
}
.address {
	img {
		float: left;
		padding-right: 15px;
	}
	padding-top: 10px;
	h5 {
		color: white;
		font-size: 13px;
		font-weight: 400;
		cursor: pointer;margin-bottom: 20px;
	}
}
.footer-logo {
	img {
		width: 100%;
		@media screen and (max-width:767px) {
			max-width: 50%;
			
		}
	}
	p {
		color: #fff;
		font-size: 13px;
		font-weight: normal;
		padding-top: 30px;
	}
}
.footer-heading {
	h5 {
		color: white;
		font-size: 21.9px;
		text-transform: uppercase;
		padding-bottom: 30px;
		position: relative;
		&::after {
			position: absolute;
			content: "";
			left: 0;
			background: #f89086;
			width: 41px;
			height: 5px;
			bottom: 0px;
		}
	}
}
.footer-menu {
	padding-left: 15px;
	padding-top: 10px;
	
	li {
		a {
			color: #fff;
			font-size: 13px;
			font-weight: normal;
			text-decoration: none;
		}
		padding: 5px 0px;
		list-style: url(../images/list-style-dots.png);
	}
}
.two-social-icon {
	padding-left: 0;
	img{max-width: 50px;margin-right: 10px;}
	li {
		display: inline-block;
	}
	p {
		font-size: 13px;
		color: white;
		padding-top: 10px;
	}
}


@media screen and (max-width:1080px) {
	.container{max-width:95%;}
	
}
@media screen and (max-width:767px) {
.control-heading {
	margin-bottom: 30px;
}
}
@media screen and (max-width:375px) {
	.banner{
h5 {
	font-size: 16px;
	margin-top: 20px;
}
	}
}